@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bz-green: #0f3a2f;
  --bz-green-2: #0b2e24;
  --bz-accent: #e2b714;
}

html, body {
  height: 100%;
}

body {
  background: var(--bz-green);
  color: white;
}
